USE [master]
GO
/****** Object:  Database [LearningLanguages]    Script Date: 07.12.2025 20:30:53 ******/
CREATE DATABASE [LearningLanguages]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LearningLanguages', FILENAME = N'/var/opt/mssql/data/LearningLanguages.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LearningLanguages_log', FILENAME = N'/var/opt/mssql/data/LearningLanguages_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF

USE [LearningLanguages]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionaries]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[LanguageFrom] [nvarchar](50) NOT NULL,
	[LanguageTo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dictionaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DictionarySharings]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DictionarySharings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DictionaryId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
	[DictionaryId1] [int] NULL,
 CONSTRAINT [PK_DictionarySharings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningProgresses]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningProgresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[WordId] [int] NOT NULL,
	[CorrectAnswers] [int] NOT NULL,
	[TotalAttempts] [int] NOT NULL,
	[KnowledgeLevel] [int] NOT NULL,
	[LastPracticed] [datetime2](7) NOT NULL,
	[NextReview] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LearningProgresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](70) NOT NULL,
	[MarkdownContent] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuleSharings]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleSharings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RuleId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RuleSharings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
	[InviteCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 07.12.2025 20:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OriginalWord] [nvarchar](100) NOT NULL,
	[Translation] [nvarchar](100) NOT NULL,
	[Example] [nvarchar](500) NOT NULL,
	[DictionaryId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[Transcription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251123180916_InitialDatabase', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251126182146_DBUpdate', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251126183418_DBUpdate2', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Dictionaries] ON 

INSERT [dbo].[Dictionaries] ([Id], [UserId], [Name], [Description], [LanguageFrom], [LanguageTo]) VALUES (1, 1, N'Tech & Future Concepts', N'A glossary for deep tech, AI, and next-gen ideas. Gotta know the lingo.', N'English', N'Russian')
INSERT [dbo].[Dictionaries] ([Id], [UserId], [Name], [Description], [LanguageFrom], [LanguageTo]) VALUES (2, 1, N'Tech & Future Concepts', N'A glossary for deep tech, AI, and next-gen ideas. Gotta know the lingo.', N'English', N'Russian')
INSERT [dbo].[Dictionaries] ([Id], [UserId], [Name], [Description], [LanguageFrom], [LanguageTo]) VALUES (3, 3, N'Tech & Future Concepts', N'A glossary for deep tech, AI, and next-gen ideas. Gotta know the lingo.', N'English', N'Russian')
SET IDENTITY_INSERT [dbo].[Dictionaries] OFF
GO
SET IDENTITY_INSERT [dbo].[DictionarySharings] ON 

INSERT [dbo].[DictionarySharings] ([Id], [DictionaryId], [StudentId], [SharedAt], [DictionaryId1]) VALUES (1, 2, 2, CAST(N'2025-12-07T13:00:11.4184834' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[DictionarySharings] OFF
GO
SET IDENTITY_INSERT [dbo].[LearningProgresses] ON 

INSERT [dbo].[LearningProgresses] ([Id], [UserId], [WordId], [CorrectAnswers], [TotalAttempts], [KnowledgeLevel], [LastPracticed], [NextReview]) VALUES (1, 4, 32, 1, 1, 2, CAST(N'2025-12-07T17:09:57.7393477' AS DateTime2), CAST(N'2025-12-12T05:09:57.7395231' AS DateTime2))
INSERT [dbo].[LearningProgresses] ([Id], [UserId], [WordId], [CorrectAnswers], [TotalAttempts], [KnowledgeLevel], [LastPracticed], [NextReview]) VALUES (2, 4, 39, 1, 1, 2, CAST(N'2025-12-07T17:10:03.6742388' AS DateTime2), CAST(N'2025-12-12T05:10:03.6742397' AS DateTime2))
INSERT [dbo].[LearningProgresses] ([Id], [UserId], [WordId], [CorrectAnswers], [TotalAttempts], [KnowledgeLevel], [LastPracticed], [NextReview]) VALUES (3, 4, 34, 1, 1, 2, CAST(N'2025-12-07T17:10:07.2298055' AS DateTime2), CAST(N'2025-12-12T05:10:07.2298068' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LearningProgresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Teacher')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rules] ON 

SET IDENTITY_INSERT [dbo].[Rules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [Login], [PasswordHash], [CreatedAt], [UserId], [InviteCode]) VALUES (1, 2, N'1', N'$2a$11$B3VrU8nJr5eVpiONcyBLz.HIOuDLiLQ8loKb7mACUvljOlYgsgv7G', CAST(N'2025-12-06T21:37:23.2046055' AS DateTime2), NULL, N'TR-dtlRcu')
INSERT [dbo].[Users] ([Id], [RoleId], [Login], [PasswordHash], [CreatedAt], [UserId], [InviteCode]) VALUES (2, 3, N'student@gmail.com', N'$2a$11$DjRJZ6WFtdAsVzm8OPpTqu6vH2K0vzWhK3aG7ZBPd0WuMrUD2IGt6', CAST(N'2025-12-07T12:59:56.6119969' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([Id], [RoleId], [Login], [PasswordHash], [CreatedAt], [UserId], [InviteCode]) VALUES (3, 1, N'123@123.ru', N'$2a$11$//kJTNi7d.vcfTGmNVfAGOtMrWLRZH0n2itQf4FagLEfNQS9T.6ZO', CAST(N'2025-12-07T13:02:11.2964596' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([Id], [UserId], [OriginalWord], [Translation], [Example], [DictionaryId], [AddedAt], [Transcription]) VALUES (1, 1, N'obvious', N'очевидный, явный', N'The solution was obvious once we re-checked the constraints.', 1, CAST(N'2025-12-07T12:42:40.2699035' AS DateTime2), N'/ˈɒ.vɪəs/')
INSERT [dbo].[Words] ([Id], [UserId], [OriginalWord], [Translation], [Example], [DictionaryId], [AddedAt], [Transcription]) VALUES (2, 1, N'Metacognition', N'Метапознание, метакогниция', N'Metacognition is, essentially, thinking about your own thinking.', 1, CAST(N'2025-12-07T12:42:40.5833994' AS DateTime2), NULL)
INSERT [dbo].[Words] ([Id], [UserId], [OriginalWord], [Translation], [Example], [DictionaryId], [AddedAt], [Transcription]) VALUES (3, 1, N'Algorithm', N'Алгоритм', N'The recommendation algorithm suggests videos based on your history.', 1, CAST(N'2025-12-07T12:42:40.9408549' AS DateTime2), N'/ˈælɡəɹɪðm̩/')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
/****** Object:  Index [IX_Dictionaries_UserId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Dictionaries_UserId] ON [dbo].[Dictionaries]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DictionarySharings_DictionaryId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_DictionarySharings_DictionaryId] ON [dbo].[DictionarySharings]
(
	[DictionaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DictionarySharings_DictionaryId1]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_DictionarySharings_DictionaryId1] ON [dbo].[DictionarySharings]
(
	[DictionaryId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DictionarySharings_StudentId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_DictionarySharings_StudentId] ON [dbo].[DictionarySharings]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AK_LearningProgresses_UserId_WordId]    Script Date: 07.12.2025 20:30:54 ******/
ALTER TABLE [dbo].[LearningProgresses] ADD  CONSTRAINT [AK_LearningProgresses_UserId_WordId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningProgresses_NextReview]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_LearningProgresses_NextReview] ON [dbo].[LearningProgresses]
(
	[NextReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningProgresses_UserId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_LearningProgresses_UserId] ON [dbo].[LearningProgresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningProgresses_WordId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_LearningProgresses_WordId] ON [dbo].[LearningProgresses]
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rules_UserId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Rules_UserId] ON [dbo].[Rules]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleSharings_RuleId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_RuleSharings_RuleId] ON [dbo].[RuleSharings]
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleSharings_StudentId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_RuleSharings_StudentId] ON [dbo].[RuleSharings]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_UserId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserId] ON [dbo].[Users]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Words_DictionaryId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Words_DictionaryId] ON [dbo].[Words]
(
	[DictionaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Words_UserId]    Script Date: 07.12.2025 20:30:54 ******/
CREATE NONCLUSTERED INDEX [IX_Words_UserId] ON [dbo].[Words]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dictionaries]  WITH CHECK ADD  CONSTRAINT [FK_Dictionaries_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dictionaries] CHECK CONSTRAINT [FK_Dictionaries_Users_UserId]
GO
ALTER TABLE [dbo].[DictionarySharings]  WITH CHECK ADD  CONSTRAINT [FK_DictionarySharings_Dictionaries_DictionaryId] FOREIGN KEY([DictionaryId])
REFERENCES [dbo].[Dictionaries] ([Id])
GO
ALTER TABLE [dbo].[DictionarySharings] CHECK CONSTRAINT [FK_DictionarySharings_Dictionaries_DictionaryId]
GO
ALTER TABLE [dbo].[DictionarySharings]  WITH CHECK ADD  CONSTRAINT [FK_DictionarySharings_Dictionaries_DictionaryId1] FOREIGN KEY([DictionaryId1])
REFERENCES [dbo].[Dictionaries] ([Id])
GO
ALTER TABLE [dbo].[DictionarySharings] CHECK CONSTRAINT [FK_DictionarySharings_Dictionaries_DictionaryId1]
GO
ALTER TABLE [dbo].[DictionarySharings]  WITH CHECK ADD  CONSTRAINT [FK_DictionarySharings_Users_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DictionarySharings] CHECK CONSTRAINT [FK_DictionarySharings_Users_StudentId]
GO
ALTER TABLE [dbo].[LearningProgresses]  WITH CHECK ADD  CONSTRAINT [FK_LearningProgresses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LearningProgresses] CHECK CONSTRAINT [FK_LearningProgresses_Users_UserId]
GO
ALTER TABLE [dbo].[LearningProgresses]  WITH CHECK ADD  CONSTRAINT [FK_LearningProgresses_Words_WordId] FOREIGN KEY([WordId])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[LearningProgresses] CHECK CONSTRAINT [FK_LearningProgresses_Words_WordId]
GO
ALTER TABLE [dbo].[Rules]  WITH CHECK ADD  CONSTRAINT [FK_Rules_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rules] CHECK CONSTRAINT [FK_Rules_Users_UserId]
GO
ALTER TABLE [dbo].[RuleSharings]  WITH CHECK ADD  CONSTRAINT [FK_RuleSharings_Rules_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([Id])
GO
ALTER TABLE [dbo].[RuleSharings] CHECK CONSTRAINT [FK_RuleSharings_Rules_RuleId]
GO
ALTER TABLE [dbo].[RuleSharings]  WITH CHECK ADD  CONSTRAINT [FK_RuleSharings_Users_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RuleSharings] CHECK CONSTRAINT [FK_RuleSharings_Users_StudentId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_UserId]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Dictionaries_DictionaryId] FOREIGN KEY([DictionaryId])
REFERENCES [dbo].[Dictionaries] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Dictionaries_DictionaryId]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Users_UserId]
GO
USE [master]
GO
